@{
    ViewData["Title"] = "Summarized CV";
}
<div class="text-center">
    <h1 class="display-1">C# developer</h1>
</div>
<div class="text-left">
    <h3>Personal Details</h3>
    <h4>Eric Faraut</h4>
    <h5>06 75 71 84 34</h5>
    <h5>eric.faraut@hotmail.fr</h5>
</div>
<div class="text-left">
    <h3>Career Objective</h3>
    <p>IT Consultant since my 2007 SIAD master's degree at the Lille 1 university 
    I've been BI consultant, Test consultant, Contact center support consultant, PL/SQL consultant, 
    IT support consultant for SFR, Orange, Orange Business Services and Aldi Services.</p>
    <p>
        Since my C# and JS web training at Doranco Ecole supérieure des technologies créatives end
        2018/08/10 I improve my skills as a .NET developer.
    </p> 
    <h4>My strengths are reportedly to be:</h4>
    <ol>
        <li>thorough in the development unitary tests</li>
        <li>organized</li>
        <li>fluent in C# development</li>
        <li>at ease using the SQL Server database</li>
    </ol>
    <h4>My current objectives are to:</h4>
    <ol>
        <li>improve my TestDrivenDevelopment skills, Learn DomainDrivenDevelopment and BehaviorDrivenDevelopment</li>
        <li>improve my DevOps and data skills</li>
        <li>improve my IT security skills enough to achieve a Master's degree in this field</li>
    </ol>
</div>
<div class="text-left">
    <h3>Last work experience</h3>
    <h4>C# develper</h4>
    <h5>Elm.leblanc</h5>
    <h5>Drancy</h5>
    <h5><i>2020-01 - now</i></h5>
    <p>
        The Manufacturing Analytics Solution (MAS1.0) is an application that gathers production line data from 14 ThermoTechnology plants databses into a single SQL Server database in order to do production traceability and quality tests (final test, gas and water leakage, electrical tests, ...).
    </p>
    <p>
        The main indicators are produced parts count and FirstPassYield ratio (proportion of products that passed the line's final test at first attempt).
        The MAS2.0 is developed and deployed since this year by an architect from the team. The MAS1.0 ramp down is planned at the end of the year.
    </p>
    <text>I : </text>
    <ul>
        <li>maintained Tableau dashboards, created PowerBI and Grafana dashboards querying the MAS2.0 GraphQL API</li>
        <li>unit tested, maintained the production .net framework 4.6.1 C# application and upgraded it to .net 5 in 2021</li>
        <li>added MasterDataManagement tables describing the products</li>
        <li>used a development database in addition to the preexisting sole production database</li>
    </ul>
</div>
<div>
    <p>For more work experiences see my <a href="https://linkedin.com/in/ericfaraut/">LinkedIn profile</a></p>
</div>
<div class="text-left">
    <h3>Training and Education</h3>
    <div>
        <h4>.Net and JavaScript development Training</h4>
        <h5>Doranco Ecole supérieure des technologies créatives</h5>
        <h5>Paris - Bagnolet</h5>
        <h5><i>2018/03-2018/08</i></h5>
        <text>Clerks Manager is an Expaceo Web application for timesheets, vacations, news</text>
        <text>I :</text>
        <ul>
            <li>migrated the news page to Vue.js</li>
            <li>developed a per employee vacations display page</li>
            <li>redeployed in beta version the Xamarin Clerks mobile app on the Google Play Store</li>
        </ul>
    </div>
    <div>
        <h4>SIAD(Systèmes d'Information et d'Aide à la Décision) Master's degree</h4>
        <h5>Université des sciences et technologies</h5>
        <h5>Lille 1</h5>
        <h5><i>2006 - 2007</i></h5>
    </div>
</div>
